.BookTemp{
    width: 400px;
    height: 520px;
    background: burlywood;
}

#inner {  
    /* border: 1px solid black; */
    display: inline-block;
    margin: 5px;

  }
  
  #outer {
    /* border: 1px solid red; */
    width:100%;
    display: flexbox;
    justify-content: center;
  }


  .bookImg{
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid red;

  }
  .bookHead{
      background-color: chocolate;
      color: black;
      width: 100%;
      /* border: 1px solid black; */
      justify-content: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }